#form-wrapper{
    width:50%;
}

.form-element-wrapper
{
    padding-bottom:10px;
    padding-top:10px;
}

.form-element-wrapper label
{
    font-weight: bold;
    color:#808080;
    display: block;
}

label.form-label
{
	margin-top:10px;
}

.form-element-wrapper input[type=text]
{
    width:98%;
    padding:1%;
    border:1px solid #e0e0e0;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.07);
}

.form-element-wrapper select
{
    padding:3px;
}

.form-element-wrapper input[type=text].form-error{
    border:1px solid #feaca5;
}

.form-element-wrapper textarea{
    border:1px solid #f0f0f0;
    width:98%;
    padding:1%;
    height:80px;
}

div.form-error{
    background-color:#feefee;    
    margin-top:5px;
    padding:7px;
    font-size:small;
    color:#e33a2b;
}

div.form-error ul{
    margin:0px;
    list-style:none;
    padding:0px;
}

.form-submit-area{
    border-top:2px solid #dcdcdc;
    padding:10px;
    text-align: right;
    padding-right:0px;
}

.form-submit-area input[type=submit]{
    padding:10px;
    font-weight: bold;
}

.form-element-wrapper fieldset{
    border:1px solid #dcdcdc;
    margin:0px;
}

.form-element-wrapper fieldset legend{
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    color:#404040;
}

.form-element-wrapper table{
    border-collapse:collapse
}

.form-element-wrapper table tr td{
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.form-element-wrapper table tr:first-child{
    padding-right: 5px;
    padding-left: 0px;
}

.form-element-wrapper table tr:last-child{
    padding-left: 5px;
    padding-right: 0px;
}

.form-radio-group{
    padding-top:10px;
}

.form-radio-group-option{
    
}

.form-radio-group-option label{
    font-weight: normal;
}

