body{
    font-family: sans-serif;
    margin:0px;
    font-size:0.9em;
}

h1{
    margin:0px;
    padding:0px;
}

#header{
    border-bottom: 1px solid #f0f0f0;
    padding:7px;
}

#wyf_toolbar
{
    padding:10px;
}

#wyf_toolbar > a{
    text-decoration: none;
    display:inline-block;
    padding:5px;
    font-size:smaller;
    font-weight: bold;
    color:#404040;
}

#wyf_list_table{
    width:100%;
    border-collapse: collapse;
    font-size:0.9em;
}

#wyf_list_table thead{
    background-color: #fcfcfc;
}

#wyf_list_table th{
    padding:8px;
    text-align: left;
}

#wyf_list_table td{
    padding:8px;
    border-bottom:1px solid #f8f8f8;
}

#wyf_list_table > tbody > tr:hover
{
    background-color:#ffffcf;
}
