body{
    font-family: sans-serif;
    margin:0px;
    font-size:0.9em;
}

h1{
    margin:0px;
    padding:0px;
}

#header{
    border-bottom: 1px solid #f0f0f0;
    padding:7px;
    position:fixed;
    height:35px;
}

#side_menu{
    position:fixed;
    top:49px;
    background-color:#a0a0a0;    
}

#wyf_toolbar
{
    padding:10px;
}

#wyf_toolbar > a{
    text-decoration: none;
    display:inline-block;
    padding:5px;
    font-size:smaller;
    font-weight: bold;
    color:#404040;
}

#wyf_list_table{
    width:100%;
    border-collapse: collapse;
    font-size:0.9em;
}

#wyf_list_table thead{
    background-color: #fcfcfc;
}

#wyf_list_table th{
    padding:8px;
    text-align: left;
}

#wyf_list_table td{
    padding:8px;
    border-bottom:1px solid #f8f8f8;
}

#wyf_list_table > tbody > tr:hover
{
    background-color:#ffffcf;
}

/*************** SIDE MENU ******************/

a.main-menu-side-button{
    width:54px;
    height:54px;
    background-image:url('../images/system.png');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    display:block;
}

a.selected{
    background-color:#fff;
}

a#dashboard-icon{
    background-image:url('../images/home.png');
}