body{
    font-family: sans-serif;
    margin:0px;
    font-size:0.9em;
    background-image: url("../images/maingb.gif");
}

h1, h2, h3{
    margin:0px;
    padding:0px;
}

h3{
    margin-top:15px;
}

#header{
    padding:7px;
    position:fixed;
    height:35px;
    background-color:#0a7ca5;
    background-image:url("../images/headerbg.gif");
    color:#fff;  
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    z-index: 200;
}

#profile_box{
    padding:10px;
    text-align: right;
}

#profile_box a{
    font-weight: bold;
    color:#fff98f;
    text-decoration: none;
}

#side_menu{
    position:fixed;
    top:49px;
    background-color:#a0a0a0;  
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-image:url("../images/sidemenubg.gif");
}

#sub_side_menu{
    position:fixed;
    left:54px;
    top:49px;
    margin: 21px;
    width: 206px;
}

ul#sub_menu_list{
    list-style:none;
    margin:0px;
    padding:0px;
    margin-top:15px;
}

ul#sub_menu_list > li{
    padding:4px;
    margin-bottom: 5px;
    font-weight: bold;
    color:#0bda44;
}

ul#sub_menu_list > li.selected{
    background-color:#029f2d;
    color:#167030;
    border-radius: 4px;
    background-image:url("../images/selectedbg.gif");
    background-repeat: repeat-x;
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}

ul#sub_menu_list > li > a{
    color:#0bda44;
    text-decoration: none;
}

ul#sub_menu_list > li.selected > a{
    color:#fff;
}

#sub_side_menu h2{
    font-size: xx-large;
}


#contents{
    padding-left:70px;
    padding-top:70px;
    padding-right:15px;
}

#contents.sub_menu_active{
    padding-left:300px;
}


.wyf_button
{
    display:inline-block;
    padding:7px;
    font-size:smaller;
    font-weight: bold;
    color:#606060;
    background-color:#f8f8f8;
    text-shadow: 1px 1px 0px #fff;
    background-repeat: no-repeat;
    background-position: 8px 50%;
    border:1px solid #c0c0c0;
    border-radius: 2px;
}

.wyf_button:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);    
    border:1px solid #b0b0b0;
}

#wyf_toolbar
{
    padding-top:5px;
    padding-bottom:10px;
}

#wyf_toolbar > a{
    text-decoration: none;
    padding-left: 30px;
    margin-right:5px;
}

#wyf_toolbar > a#toolbar_add    { background-image: url("../images/add.png");   }
#wyf_toolbar > a#toolbar_import { background-image: url("../images/import.png");}

#wyf_list_view_control{
    margin-top:5px;
}

#wyf_list_view_control span.nav_button{
    cursor:pointer;
}

#wyf_list_view_pagecount{
    padding:7px;
    font-size:small;
    text-align: right;
}
/************************ LIST TABLE ***************************/

#wyf_list_table{
    width:100%;
    border-collapse: collapse;
    font-size:0.9em;
}

#wyf_list_table thead{
    background-color: #f0f0f0;
}

#wyf_list_table th{
    padding:8px;
    text-align: left;
}

#wyf_list_table td{
    padding:8px;
    border-bottom:1px solid #f8f8f8;
}

#wyf_list_table > tbody > tr:hover
{
    background-color:#ffffcf;
}

.wyf_list_table_operations
{
    text-align: right;
}

.wyf_list_table_operations a
{
    text-decoration: none;
    display:inline-block;
    padding:3px;
    padding-left:5px;
    padding-right: 5px;
    margin-left:5px;
    font-weight: bold;
    font-size: smaller;
    color:#1072A5;
    background: #f6fafe;
    border-radius: 3px;
}


/*************** SIDE MENU ******************/

a.main-menu-side-button{
    width:54px;
    height:54px;
    background-image:url('../images/system.png');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    display:block;
}

a.selected{
    background-color:#fff;
    box-shadow: 0 4px 2px -2px grey;
}

a#dashboard-icon{
    background-image:url('../images/home.png');
}

/**************** LOGIN PAGE ****************/

#login-box{
    margin: 100px;
    margin-left:auto;
    margin-right:auto;
    width:300px;
    padding-right:55px;
}

#login-box h2{
    margin-bottom: 15px;
}

#login-box input[type=text],#login-box input[type=password]{
    width:94%;
    padding:3%;
    border:1px solid #f0f0f0;
    margin-bottom:15px;
}

#login-box label{
    font-weight: bold;
    color:#808080;
}

#login-box input[type=submit]{
    padding:10px;
    font-weight: bold;
}

#notification p{
    padding:15px;
    font-size:small;
    margin:0px;
    background-color:#f6fff7;
    color:#029f2d;
}

/************************ REPORTING PAGE *****************************/

.filter-wrapper{
	border-bottom:1px solid #f0f0f0;
	padding-bottom:5px;
	padding-top:5px;
}
